/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

#container {
  display: flex;
  background-color: #272727;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  min-height: 0;
  min-width: 0;
}

.square {
  border: 2px solid rgb(58, 58, 60);
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 0;
}

#keyboard-container {
  height: 25%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}

span#failed {
  min-height: 5%;
  display: inline;
  font-size: 1em;
  text-align: center;
  color: red;
}

a#refresh_a {
  min-height: 5%;
  display: inline;
  color: #f6f4e6;
  text-align: center;
}

span#refresh_s {
  display: inline;
  color: #f6f4e6;
  font-size: 2em;
  text-align: center;
}

#versions {
  text-align: center;
}

#versions a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 120px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.top_right {
  position: absolute;
  top: 8px;
  right: 16px;
}

#home {
  position: absolute;
  top: 8px;
  right: 16px;
  max-width: 5%;
  -webkit-filter: invert(50%);
}
